.page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.app-container {
  width: min(1000px, 100vw - 50px);
  height: min(650px, 100vw - 50px);
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  /* box-shadow: var(--shadow-border-light); */
}
