.output-box {
  width: 100%;
  height: 100%;

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;

  padding: var(--box-padding-v) var(--box-padding-h);
  gap: 5px;
}

.output-container {
  /* border: 1px solid var(--gray-300); */
  white-space: pre-line;
  border-radius: 5px;
  padding: 5px 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: var(--content-text-size);

  line-height: 1.25;
  overflow-y: auto;
  position: relative;

  background-color: var(--gray-100);

  .placeholder {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: var(--font-u3);
    color: var(--gray-500);

    &[is-hidden] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.header {
  font-size: var(--header-size);
  color: var(--gray-600);
  line-height: 1;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .text-group {
    display: flex;
    gap: 5px;
    align-items: baseline;
  }

  .text {
    font-weight: 800;
    white-space: nowrap;
  }

  .token-count {
    font-size: var(--content-text-size);
    color: var(--gray-600);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &[is-oversized] {
      color: var(--pink-500);
    }
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.button-group {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 8px;
}

button {
  all: unset;

  display: flex;
  line-height: 1;
  padding: 4px 6px;
  border-radius: 5px;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  background-color: color-mix(in lab, var(--gray-200), white 20%);
  color: var(--gray-800);
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: var(--header-secondary-size);
  height: 1em;

  &:hover {
    background-color: color-mix(in lab, var(--gray-300), white 30%);
  }

  &:active {
    background-color: color-mix(in lab, var(--gray-300), white 20%);
  }

  .svg-icon {
    position: relative;
    top: 1px;
    margin-right: 3px;
    color: var(--gray-700);
    width: 12px;
    height: 12px;
  }
}
