.text-viewer {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;

  gap: 5px;

  --search-inner-padding-h: 10px;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: var(--gray-600);
  gap: 7px;
  padding: var(--box-padding-v) var(--box-padding-h) 0 var(--box-padding-h);
}

.header {
  font-weight: 800;
  font-size: var(--font-u1);
  line-height: 1;
}

.description {
  line-height: 1;
  font-size: var(--font-d1);
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.search-bar-container {
  padding: 0px var(--box-padding-h);
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--gray-300);
  padding: 5px var(--search-inner-padding-h);

  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  background-color: white;

  &:has(input:focus) {
    border: 1px solid var(--blue-500);
  }

  & input {
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: var(--font-d1);

    &::placeholder {
      color: var(--gray-600);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  .icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--gray-600);

    transition: opacity 100ms ease-in-out;

    &:has(.search) {
      cursor: default;
      padding-right: 5px;
    }

    &:has(.cross) {
      padding-left: 5px;
    }

    &[is-hidden] {
      opacity: 0;
      pointer-events: none;
    }
  }

  .svg-icon {
    &.search {
      position: relative;
      top: 2px;
    }
    &.cross {
      border-radius: 100%;
      background-color: var(--gray-500);
      color: white;
      padding: 2px;
      box-sizing: border-box;

      & svg {
        width: 60%;
        height: 60%;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.content-list {
  overflow-y: auto;
  font-size: var(--font-d2);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;

  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;

  .item {
    line-height: 1.2;
    width: 100%;
    padding: 0 calc(var(--search-inner-padding-h) + var(--box-padding-h));
    border-bottom: 1px solid var(--gray-200);
    cursor: default;
    padding-bottom: 3px;
    padding-top: 3px;
    box-sizing: border-box;

    &[clamp-line] {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      flex-shrink: 0;
      -webkit-box-pack: end;
    }

    &:hover {
      background-color: color-mix(in lab, var(--blue-100), white 80%);
    }

    :global(em) {
      color: var(--purple-500);
      font-style: normal;
      font-weight: 600;
    }
  }

  .count-label {
    font-size: var(--font-d1);
    line-height: 1;
    width: 100%;
    padding: 5px calc(var(--search-inner-padding-h) + var(--box-padding-h));
    color: var(--gray-500);
  }

  .add-more-button {
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--purple-700);
    background-color: var(--gray-100);

    user-select: none;
    -webkit-user-select: none;
    transition:
      color 150ms ease-in-out,
      background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--gray-200);
      color: var(--purple-600);
    }

    &:active {
      color: var(--purple-800);
    }

    &.hidden {
      display: none;
    }

    span {
      padding: 12px;
    }
  }
}
