.text-viewer {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;

  gap: 5px;

  --search-inner-padding-h: 10px;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: var(--gray-600);
  gap: 7px;
  padding: var(--box-padding-v) var(--box-padding-h) 0 var(--box-padding-h);
}

.header {
  font-weight: 800;
  font-size: var(--header-size);
  line-height: 1;
}

.description {
  line-height: 1;
  font-size: var(--header-secondary-size);
  font-variant-numeric: tabular-nums;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.search-bar-container {
  padding: 0px var(--box-padding-h);
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--gray-300);
  padding: 5px var(--search-inner-padding-h);

  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  background-color: white;
  align-items: center;
  position: relative;

  &:has(input:focus) {
    outline: 2px solid var(--focus-border-color);
    border: 1px solid var(--focus-border-color);
  }

  & input {
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: var(--font-d1);

    &:disabled {
      cursor: no-drop;
    }

    &::placeholder {
      color: var(--gray-600);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  .icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-600);
    position: relative;

    transition: opacity 100ms ease-in-out;

    &:has(.search) {
      cursor: default;
      padding-right: 5px;
    }

    &:has(.cross) {
      padding-left: 5px;
    }

    &[is-hidden] {
      opacity: 0;
      pointer-events: none;
    }
  }

  .svg-icon {
    &.search {
      position: relative;
    }
    &.cross {
      border-radius: 100%;
      background-color: var(--gray-500);
      color: white;
      padding: 2px;
      box-sizing: border-box;

      & svg {
        width: 60%;
        height: 60%;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .semantic-search-info {
    position: absolute;
    font-size: var(--font-d1);
    left: 32px;
    background: var(--blue-50);
    color: var(--blue-600);
    padding: 0 8px;
    border-radius: 5px;

    &[is-hidden] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.list-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}

.header-gap {
  margin-top: 3px;
  height: 1px;
  width: 100%;
  flex-shrink: 0;

  background: var(--gray-300);
  opacity: 1;
  box-shadow:
    0 1px 1px hsla(0, 0%, 0%, 0.05),
    0 1px 2px hsla(0, 0%, 0%, 0.05);
  transition:
    opacity 300ms ease-in-out,
    box-shadow 300ms ease-in-out;

  &[is-hidden] {
    opacity: 0;
    box-shadow: none;
  }
}

.content-list {
  font-size: var(--content-text-size);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  overflow-y: auto;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
  overscroll-behavior: none;

  .item {
    line-height: 1.25;
    width: 100%;
    padding: 5px calc(var(--search-inner-padding-h) + var(--box-padding-h));
    border-bottom: 1px solid var(--gray-200);
    cursor: default;
    box-sizing: border-box;
    position: relative;

    &:has(.distance-overlay:not([is-hidden])) {
      padding-right: 60px;
    }

    &[clamp-line] {
      .item-content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        flex-shrink: 0;
        -webkit-box-pack: end;
      }
    }

    &:hover {
      background-color: color-mix(in lab, var(--blue-100), white 70%);
    }

    & em {
      color: var(--blue-500);
      font-style: normal;
      font-weight: 700;
    }

    .distance-overlay {
      position: absolute;
      top: 0px;
      right: 0px;

      font-size: var(--font-d3);
      font-variant-numeric: tabular-nums;
      padding: 2px 5px;
      border-bottom-left-radius: 4px;
      text-align: right;

      background-color: color-mix(in lab, var(--blue-100) 70%, transparent 30%);
      color: var(--blue-800);

      &[is-hidden] {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .count-label {
    font-size: var(--font-d1);
    line-height: 1;
    width: 100%;
    padding: 5px calc(var(--search-inner-padding-h) + var(--box-padding-h));
    color: var(--gray-500);
  }

  .add-more-button {
    font-weight: 800;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--blue-500);
    background-color: var(--gray-50);

    user-select: none;
    -webkit-user-select: none;
    transition:
      color 150ms ease-in-out,
      background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--gray-100);
      color: var(--blue-600);
    }

    &:active {
      color: var(--blue-700);
    }

    &[is-hidden] {
      display: none;
    }

    span {
      padding: 12px;
    }
  }
}

@keyframes circle-loader-animation {
  to {
    transform: rotate(1turn);
  }
}

.search-bar-loader {
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  color: var(--gray-700);
  line-height: 1;
  font-size: var(--font-u2);

  .circle-loader {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 3px solid;
    border-color: color-mix(in lab, var(--gray-400) 100%, white 30%);
    border-right-color: var(--gray-600);
    animation: circle-loader-animation 1s infinite linear;
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.button-group {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 8px;
}

button {
  all: unset;

  display: flex;
  line-height: 1;
  padding: 4px 6px;
  border-radius: 5px;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  background-color: color-mix(in lab, var(--gray-200), white 20%);
  color: var(--gray-800);
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: var(--header-secondary-size);
  height: 1em;

  &:hover {
    background-color: color-mix(in lab, var(--gray-300), white 30%);
  }

  &:active {
    background-color: color-mix(in lab, var(--gray-300), white 20%);
  }

  .svg-icon {
    position: relative;
    top: 1px;
    color: var(--gray-700);
    width: 14px;
    height: 14px;
  }
}
